.container {
    /* padding: 20px; */
    background-color: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
    /* min-height: 90vh; */
}

.logoSection {
    margin-top: 20px;
}

.logoImage {
    height: 80px;
    object-fit: contain;
}